{% if blog_card and blog_card != empty %}
  <a
    sym-bind="{&quot;link&quot;:{&quot;type&quot;:&quot;Select&quot;,&quot;val&quot;:{&quot;from&quot;:{&quot;type&quot;:&quot;Variable&quot;,&quot;val&quot;:&quot;data&quot;},&quot;prop&quot;:&quot;467ee678-6419-d581-72e1-88a7b9c88fd0&quot;}}}"
    href="{{ blog_card.url }}"
    class="blog-post-card w-inline-block"
  >
    <div class="blog-post-image" style="max-height : 14rem">
      {%- if blog_card.image.src == null -%}
        <img
          loading="lazy"
          src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg"
          alt=""
          class="blog-thumbnail"
        >
      {%- else -%}
        <img
          loading="lazy"
          src="{{ blog_card.image.src | img_url }}"
          alt="{{ blog_card.title }}"
          class="blog-thumbnail"
        >
      {%- endif -%}
    </div>
    <div class="blog-details">
      <h3 class="blog-title">{{ blog_card.title }}</h3>
      <div class="author-details">
        <div class="author-name">
          <div class="text-block-25 author">{{ blog_card.author }}</div>
          <img
            src="https://cdn.shopify.com/s/files/1/0699/8478/0586/files/group-11.svg?v=1673279665"
            loading="lazy"
            alt=""
          >
        </div>
        <div class="div-block-25">
          <div class="text-block-25">{{ blog_card.created_at | date: '%B %e, %Y' }}</div>
          <div class="text-block-30">{{ 't2e' | t }}</div>
          <div class="text-block-25">{{ blog_card.metafields.custom.read_time }} Mins</div>
        </div>
      </div>
    </div>
  </a>
{% endif %}

{% unless request.design_mode %}
  <script>
    var currentSection = document.currentScript.closest('.shopify-section');
    currentSection.outerHTML = currentSection.innerHTML;
  </script>
{% endunless %}
