{%- if card_product and card_product != empty -%}
  <div class="product-card shop-card">
    <a href="#" class="w-inline-block">
      <div class="product-image h-36">
        {%- if card_product.featured_media == null -%}
          <img
            loading="lazy"
            src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg"
            alt=""
            class="product-img"
          >
        {%- else -%}
          <img
            loading="lazy"
            src="{{ card_product.featured_media | img_url }}"
            alt="{{ section.settings.product_img_image.alt | escape }}"
            class="product-img"
          >
        {%- endif -%}
      </div>
    </a>
    <div class="product-details">
      <div class="product-category">{{ section.settings.product_category }}</div>
      <a href="{{card_product.url}}" class="link-block-2 w-inline-block">
        <h2 class="product-name-slider">{{ card_product.title }}</h2>
      </a>
      <div class="text-wrapper justify-start">
        <div class="text-wrapper">
          <div data-commerce-type="variation-price" class="product-price">{{ card_product.price | money_with_currency }}</div>
        </div>
        <div class="text-wrapper">
          <div class="product-original-price">{{ card_product.compare_at_price | money_with_currency }}</div>
        </div>
      </div>
      <a
        href="{% if section.settings.btn_link %}{{ section.settings.btn_link }}{% else %}#{% endif %}"
        data-w-id="dc63c2fe-77cb-de01-c6a1-30a116b15f60"
        class="btn bg-cart-btn cursor-auto w-button"
      >
        Add To Bag
      </a>
    </div>
  </div>
{%- endif -%}
<script>
  var currentSection = document.currentScript.closest('.shopify-section');
  currentSection.setAttribute('class', 'product-card');
</script>
