{%- if card_product and card_product != empty -%}
  <div class="product-card">
    <a href="{{card_product.url}}" class="w-inline-block">
      <div class="product-image h-36">
        {%- if card_product.featured_media == null -%}
          <img
            loading="lazy"
            src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg"
            alt=""
            class="product-img"
          >
        {%- else -%}
          <img
            loading="lazy"
            src="{{ card_product.featured_media | img_url }}"
            alt="{{ section.settings.product_img_image.alt | escape }}"
            class="product-img"
          >
        {%- endif -%}
      </div>
    </a>
    <div class="product-details">
      <div class="product-category">{{ section.settings.product_category }}</div>
      <a href="{{card_product.url}}" class="link-block-2 w-inline-block">
        <h2 class="product-name-slider">{{ card_product.title }}</h2>
      </a>
      <div class="text-wrapper justify-start">
        <div class="text-wrapper">
          <div data-commerce-type="variation-price" class="product-price">
            {{ card_product.price | money_with_currency }}
          </div>
        </div>
        <div class="text-wrapper">
          <div class="product-original-price">{{ card_product.compare_at_price | money_with_currency }}</div>
        </div>
      </div>
      <div class="add-to-cart">
        {%- form 'product',
          card_product,
          data-node-type: 'commerce-add-to-cart-form',
          class: 'w-commerce-commerceaddtocartform default-state'
        -%}
          {%- unless card_product.has_only_default_variant or card_product.variants.size == 1 -%}
            <div
              data-node-type="add-to-cart-option-list"
              class="option-list"
              position-id="80f55b21-5069-45d9-5d32-4a65aa850e55"
            >
              {%- for option in card_product.options_with_values -%}
                <fieldset
                  data-node-type="add-to-cart-option"
                  class="option"
                  style="{% if card_product.has_only_default_variant or product.variants.size == 1 %}display: none; {% endif %}"
                >
                  <select
                    data-node-type="add-to-cart-option-select"
                    class="quantity variant-select w-select"
                    style="display: none;"
                    name="{{ "option" | append: forloop.index }}"
                  >
                    {%- render 'product-options', option: option -%}
                  </select>
                  <div
                    data-node-type="add-to-cart-option-pill-group"
                    class="button-group w-commerce-commerceaddtocartoptionpillgroup"
                    aria-label="{{ "option" | append: forloop.index  }}"
                  >
                    {%- for value in option.values -%}
                      <div
                        data-node-type="add-to-cart-option-pill"
                        class="w-commerce-commerceaddtocartoptionpill"
                        data-option-name="{{ value | handle }}"
                      >
                        <div data-node-type="block">{{ value }}</div>
                      </div>
                    {%- endfor -%}
                  </div>
                  <div data-node-type="block" class="text-block-33">{{ 't8f4f875' | t }}</div>
                </fieldset>
              {%- endfor -%}
            </div>
          {%- endunless -%}
          {%- assign condition_value = card_product.type | strip -%}
          {%- unless condition_value == 'e348fd487d0102946c9179d2a94bb613' -%}
            <label
              for="quantity-37281beb835658194e034a80e252bc6d"
              position-id="80f55b21-5069-45d9-5d32-4a65aa850e5c"
              id="w-node-_80f55b21-5069-45d9-5d32-4a65aa850e5c-8b7dd615"
              class="product-container-header"
            >
              {{- 'tn48bd3755' | t -}}
            </label>
          {%- endunless -%}
          {%- assign condition_value = card_product.type | strip -%}
          {%- unless condition_value == 'e348fd487d0102946c9179d2a94bb613' -%}
            <input
              type="number"
              pattern="^[0-9]+$"
              inputmode="numeric"
              id="quantity-37281beb835658194e034a80e252bc6d"
              name="quantity"
              min="1"
              position-id="80f55b21-5069-45d9-5d32-4a65aa850e5e"
              class="w-commerce-commerceaddtocartquantityinput quantity w-node-_80f55b21-5069-45d9-5d32-4a65aa850e5e-8b7dd615"
              value="1"
            >
          {%- endunless -%}
          <div
            position-id="54c2dac9-164b-12ea-3928-39c39b7b2acf"
            id="w-node-_54c2dac9-164b-12ea-3928-39c39b7b2acf-8b7dd615"
            class="product-buttons"
          >
            <a
              id="Buy-Btn"
              data-node-type="commerce-buy-now-button"
              data-default-text="Buy Now"
              data-subscription-text="Subscribe now"
              aria-busy="false"
              aria-haspopup="false"
              class="w-commerce-commercebuynowbutton btn btn-bg-coco product-btn"
              href="/checkout"
            >
              {{- 't71bb21fc' | t -}}</a
            ><input
              type="submit"
              id="w-node-_80f55b21-5069-45d9-5d32-4a65aa850e5f-8b7dd615"
              data-node-type="commerce-add-to-cart-button"
              data-loading-text="Adding to cart..."
              value="Add to Bag"
              aria-busy="false"
              aria-haspopup="dialog"
              class="w-commerce-commerceaddtocartbutton btn bg-cart-btn-product-page"
            >
          </div>
          {%- render 'product-variants-data', product: card_product -%}
        {%- endform -%}
        <div tabindex="0" style="display:none" class="w-commerce-commerceaddtocartoutofstock">
          <div>{{ 't7aaa2dac' | t }}</div>
        </div>
        <div
          aria-live="assertive"
          data-node-type="commerce-add-to-cart-error"
          style="display:none"
          class="w-commerce-commerceaddtocarterror"
        >
          <div
            data-node-type="commerce-add-to-cart-error"
            data-w-add-to-cart-quantity-error="Product is not available in this quantity."
            data-w-add-to-cart-general-error="Something went wrong when adding this item to the cart."
            data-w-add-to-cart-mixed-cart-error="You can’t purchase another product with a subscription."
            data-w-add-to-cart-buy-now-error="Something went wrong when trying to purchase this item."
            data-w-add-to-cart-checkout-disabled-error="Checkout is disabled on this site."
            data-w-add-to-cart-select-all-options-error="Please select an option in each set."
          >
            {{ 'tn1c765d0d' | t }}
          </div>
        </div>
      </div>
      {% comment %}
        <a
          href="{% if section.settings.btn_link %}{{ section.settings.btn_link }}{% else %}#{% endif %}"
          data-w-id="dc63c2fe-77cb-de01-c6a1-30a116b15f60"
          class="btn bg-cart-btn cursor-auto w-button"
        >
          Add To Bag
        </a>
      {% endcomment %}
    </div>
  </div>
{%- endif -%}
<script>
  var currentSection = document.currentScript.closest('.shopify-section');
  currentSection.setAttribute('class', 'product-card');
</script>
