<style>
.block{
  display : block;
}
</style>

{%- if card_product and card_product != empty -%}
  <div class="product-card shop-card">
    <a href="#" class="link-block-4 w-inline-block">
      <div class="product-image shopcard-img">
        <img
          loading="lazy"
          src="{{ card_product.featured_media | img_url }}"
          alt="{{ section.settings.product_img_image.alt | escape }}"
          class="product-img"
        >
      </div>
    </a>
    <div class="product-details shopcard-details">
      <div class="product-category">{{ section.settings.product_category }}</div>
      <a href="{{card_product.url}}" class="link-block-3 w-inline-block">
        <h2 class="product-name-slider">{{ card_product.title }}</h2>
      </a>
      <div class="text-wrapper justify-start">
        <div class="text-wrapper">
          <div data-commerce-type="variation-price" class="product-price">
            {{ card_product.price | money_with_currency }}
          </div>
        </div>
        <div class="text-wrapper">
          <div class="product-original-price">{{ card_product.compare_at_price | money_with_currency }}</div>
        </div>
      </div>

      <div class="add-to-cart">
        {%- form 'product',
          card_product,
          data-node-type: 'commerce-add-to-cart-form',
          class: 'w-commerce-commerceaddtocartform default-state block'
        -%}
          {%- unless card_product.has_only_default_variant and card_product.variants.size == 2 -%}
            <div
              data-node-type="add-to-cart-option-list"
              class="option-list"
              position-id="80f55b21-5069-45d9-5d32-4a65aa850e55"
            >
              {%- for option in card_product.options_with_values -%}
                <fieldset
                  data-node-type="add-to-cart-option"
                  class="option"
                  style="{% if card_product.has_only_default_variant or product.variants.size == 1 %}display: none; {% endif %}"
                >
                  <select
                    data-node-type="add-to-cart-option-select"
                    class="quantity variant-select w-select"
                    style="display: none;"
                    name="{{ "option" | append: forloop.index }}"
                  >
                    {%- render 'product-options', option: option -%}
                  </select>
                  <div
                    data-node-type="add-to-cart-option-pill-group"
                    class="button-group w-commerce-commerceaddtocartoptionpillgroup"
                    aria-label="{{ "option" | append: forloop.index  }}"
                  >
                    {%- for value in option.values -%}
                      <div
                        data-node-type="add-to-cart-option-pill"
                        class="w-commerce-commerceaddtocartoptionpill"
                        data-option-name="{{ value | handle }}"
                      >
                        <div data-node-type="block">{{ value }}</div>
                      </div>
                    {%- endfor -%}
                  </div>
                  <div data-node-type="block" class="text-block-33">{{ 't8f4f875' | t }}</div>
                </fieldset>
              {%- endfor -%}
            </div>
          {%- endunless -%}
          <div
            position-id="54c2dac9-164b-12ea-3928-39c39b7b2acf"
            id="w-node-_54c2dac9-164b-12ea-3928-39c39b7b2acf-8b7dd615"
            class="product-buttons"
          >
            <input
              type="submit"
              id="w-node-_80f55b21-5069-45d9-5d32-4a65aa850e5f-8b7dd615"
              data-node-type="commerce-add-to-cart-button"
              data-loading-text="Adding to cart..."
              value="Add to Bag"
              aria-busy="false"
              aria-haspopup="dialog"
              class="w-commerce-commerceaddtocartbutton btn bg-cart-btn-product-page bg-cart-btn cursor-auto w-button"
            >
          </div>
          {%- render 'product-variants-data', product: card_product -%}
        {%- endform -%}
        <div tabindex="0" style="display:none" class="w-commerce-commerceaddtocartoutofstock">
          <div>{{ 't7aaa2dac' | t }}</div>
        </div>
        <div
          aria-live="assertive"
          data-node-type="commerce-add-to-cart-error"
          style="display:none"
          class="w-commerce-commerceaddtocarterror"
        >
          <div
            data-node-type="commerce-add-to-cart-error"
            data-w-add-to-cart-quantity-error="Product is not available in this quantity."
            data-w-add-to-cart-general-error="Something went wrong when adding this item to the cart."
            data-w-add-to-cart-mixed-cart-error="You can’t purchase another product with a subscription."
            data-w-add-to-cart-buy-now-error="Something went wrong when trying to purchase this item."
            data-w-add-to-cart-checkout-disabled-error="Checkout is disabled on this site."
            data-w-add-to-cart-select-all-options-error="Please select an option in each set."
          >
            {{ 'tn1c765d0d' | t }}
          </div>
        </div>
      </div>
      
<!--       <a
        href="{{card_product.url}}"
        class="btn bg-cart-btn cursor-auto w-button"
      >
        Add To Bag
      </a> -->
    </div>
  </div>
{%- endif -%}

<script>
  var currentSection = document.currentScript.closest('.shopify-section');
  currentSection.setAttribute('class', 'product-card shop-card');
</script>