<div data-w-id="a27dfd8e-82ee-712f-835c-fa2eb5dcdb6d" >
        <div class="container-heading">
          <h3 class="heading-8"><strong class="bold-text">{{ section.settings.drop_heading }}</strong></h3><img src="{{ 'icons8-down-arrow-64_1icons8-down-arrow-64.png' | asset_url }}" loading="lazy" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0)" alt="" class="image-25">
        </div>
        <div style="display:none;height:0px;opacity:0" class="compliance-cards-container mt-0 cards">
          {% for block in section.blocks %}
          <a href="{{ block.settings.download_link }}" class="resource-tile _w-100 download-card-1 w-inline-block">
            <div class="text-wrapper _w-100">
              <div class="card-heading resource-card-heading _w-50">{{ block.settings.card_heading }}</div>
              <div class="div-block"><img src="{{ 'icons8-right-arrow-32-1_1icons8-right-arrow-32-1.png' | asset_url }}" loading="lazy" alt="" class="download-arrow"></div>
            </div>
          </a>
          {% endfor %}
<!--           <a href="#" class="resource-tile _w-100 download-card-1 w-inline-block">
            <div class="text-wrapper _w-100">
              <div class="card-heading resource-card-heading _w-50">{{ 't7635fb4f' | t }}</div>
              <div class="div-block"><img src="{{ 'icons8-right-arrow-32-1_1icons8-right-arrow-32-1.png' | asset_url }}" loading="lazy" alt="" class="download-arrow"></div>
            </div>
          </a>
          <a href="#" class="resource-tile _w-100 download-card-1 w-inline-block">
            <div class="text-wrapper _w-100">
              <div class="card-heading resource-card-heading _w-50">{{ 't7635fb4f' | t }}</div>
              <div class="div-block"><img src="{{ 'icons8-right-arrow-32-1_1icons8-right-arrow-32-1.png' | asset_url }}" loading="lazy" alt="" class="download-arrow"></div>
            </div>
          </a>
          <a href="#" class="resource-tile _w-100 download-card-1 w-inline-block">
            <div class="text-wrapper _w-100">
              <div class="card-heading resource-card-heading _w-50">{{ 't7635fb4f' | t }}</div>
              <div class="div-block"><img src="{{ 'icons8-right-arrow-32-1_1icons8-right-arrow-32-1.png' | asset_url }}" loading="lazy" alt="" class="download-arrow"></div>
            </div>
          </a>
          <a href="#" class="resource-tile _w-100 download-card-1 w-inline-block">
            <div class="text-wrapper _w-100">
              <div class="card-heading resource-card-heading _w-50">{{ 't7635fb4f' | t }}</div>
              <div class="div-block"><img src="{{ 'icons8-right-arrow-32-1_1icons8-right-arrow-32-1.png' | asset_url }}" loading="lazy" alt="" class="download-arrow"></div>
            </div>
          </a>
          <a href="#" class="resource-tile _w-100 download-card-1 w-inline-block">
            <div class="text-wrapper _w-100">
              <div class="card-heading resource-card-heading _w-50">{{ 't7635fb4f' | t }}</div>
              <div class="div-block"><img src="{{ 'icons8-right-arrow-32-1_1icons8-right-arrow-32-1.png' | asset_url }}" loading="lazy" alt="" class="download-arrow"></div>
            </div>
          </a>
          <a href="#" class="resource-tile _w-100 download-card-1 w-inline-block">
            <div class="text-wrapper _w-100">
              <div class="card-heading resource-card-heading _w-50">{{ 't7635fb4f' | t }}</div>
              <div class="div-block"><img src="{{ 'icons8-right-arrow-32-1_1icons8-right-arrow-32-1.png' | asset_url }}" loading="lazy" alt="" class="download-arrow"></div>
            </div>
          </a> -->
        </div>
      </div>

{% schema %}
  {
    "name": "Download Drop",
    "settings": [
      {
        "type" : "text",
        "id" : "drop_heading",
        "label" : "Dropdown Heading"
      }
    ],
    "blocks" : [
      {
      "type" : "slide",
      "name" : "Download Card",
        "settings" : [
          {
            "type" : "text",
            "id" : "card_heading",
            "label" : "Card Heading"
          },
          {
            "type" : "url",
            "id" : "download_link",
            "label" : "Download Link"
          }
        ]
      }
    ]
  }
{% endschema %}

