
    <div class="footer-wrapper">
      <div class="col flex _w-30 flex-start">
        <div class="col">
          <h3 class="footer-heading">{{ 't13ede05' | t }}</h3>
          <a href="{% if section.settings.footer_link_link %}{{ section.settings.footer_link_link }}{% else %}{{ pages["sustainability"].url }}{% endif %}" class="footer-link w-inline-block">
            <div class="text-block-3">{{ 'tn1baefe39' | t }}</div>
          </a>
          <a href="{% if section.settings.footer_link_link_2 %}{{ section.settings.footer_link_link_2 }}{% else %}{{ pages["our-brands"].url }}{% endif %}" class="footer-link w-inline-block">
            <div>{{ section.settings.text_block_text }}</div>
          </a>
          <a href="{% if section.settings.footer_link_link_3 %}{{ section.settings.footer_link_link_3 }}{% else %}{{ pages["compliance"].url }}{% endif %}" class="footer-link w-inline-block">
            <div>{{ section.settings.text_block_text_2 }}</div>
          </a>
          <a href="{% if section.settings.footer_link_link_4 %}{{ section.settings.footer_link_link_4 }}{% else %}{{ pages["faqs"].url }}{% endif %}" class="footer-link w-inline-block">
            <div>{{ section.settings.text_block_text_3 }}</div>
          </a>
          <a href="{% if section.settings.footer_link_link_5 %}{{ section.settings.footer_link_link_5 }}{% else %}{{ pages["downloads"].url }}{% endif %}" class="footer-link w-inline-block">
            <div>{{ 'tn3a4f9735' | t }}</div>
          </a>
          <a href="{% if section.settings.footer_link_link_6 %}{{ section.settings.footer_link_link_6 }}{% else %}{{ pages["terms-and-conditions"].url }}{% endif %}" class="footer-link w-inline-block">
            <div>{{ section.settings.text_block_text_4 }}</div>
          </a>
        </div>
        <div class="col">
          <h3 class="footer-heading">{{ 't3c2336d' | t }}</h3>
          <a href="{% if section.settings.footer_link_link_7 %}{{ section.settings.footer_link_link_7 }}{% else %}{{ pages["about"].url }}{% endif %}" class="footer-link w-inline-block">
            <div>{{ 't645f0031' | t }}</div>
          </a>
          <a href="{% if section.settings.footer_link_link_8 %}{{ section.settings.footer_link_link_8 }}{% else %}{{ pages["materials"].url }}{% endif %}" class="footer-link w-inline-block">
            <div>{{ 'tn5ff49ff4' | t }}</div>
          </a>
        </div>
      </div>
      <div class="col _w-30">
        <h3 class="footer-heading">{{ 'tn64104400' | t }}</h3>
        <div class="text-wrapper flex-col items-left">
          <div class="footer-link footer-text">{{ 't30acf044' | t }}</div>
          <a href="{% if section.settings.link_block_link %}{{ section.settings.link_block_link }}{% else %}mailto:info@chetnainternational.com{% endif %}" class="link-block w-inline-block">
            <div class="text-block-2">{{ section.settings.text_block_2_text }}</div>
          </a>
        </div>
        <div class="text-wrapper flex-col items-left">
          <div class="footer-link footer-text">{{ 't2f1bd1e2' | t }}</div>
          <a href="{% if section.settings.link_block_link_2 %}{{ section.settings.link_block_link_2 }}{% else %}tel:+919711991413{% endif %}" class="link-block phone-number w-inline-block">
            <div>{{ section.settings.text_block_text_5 }}</div>
          </a>
        </div>
      </div>
      <div class="col items-center _w-30 flex-start">
        <a href="{{ routes.root_url }}" aria-current="page" class="link-block-7 w-inline-block w--current">
          <div class="footer-logo" data-w-id="b1f044c8-101e-6fb4-7d48-81566922f239" data-animation-type="lottie" data-src="{{ 'chetnalighterbg-01.json' | asset_url }}" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="1.9686352217844805" data-duration="4"></div>
        </a>
      </div>
    </div>
    <div data-w-id="88cd0def-00e0-bb06-e161-fa21791436b3" class="footer">
      <div class="col items-center">
        <div class="copyright-text">{{ 't7f2f918e' | t }}</div>
      </div>
      <div class="col flex items-center">
        <div class="social-icon">
          <a href="www.youtube.com" class="w-inline-block"><img src="{{ 'group-329.svg' | asset_url }}" loading="lazy" alt=""></a>
        </div>
        <div class="social-icon">
          <a href="https://www.linkedin.com/company/chetna-international/" class="w-inline-block"><img src="{{ 'group-202x_1group-202x.png' | asset_url }}" loading="lazy" alt=""></a>
        </div>
        <div class="social-icon">
          <a href="https://www.facebook.com/HornButtonManufacturer/" target="_blank" class="w-inline-block"><img src="{{ 'group-212x_1group-212x.png' | asset_url }}" loading="lazy" alt=""></a>
        </div>
        <div class="social-icon">
          <a href="https://www.instagram.com/chetnainternational/?hl=en" class="w-inline-block"><img src="{{ 'group-222x_1group-222x.png' | asset_url }}" loading="lazy" alt=""></a>
        </div>
      </div>
      <div class="col flex items-center">
        <a href="{{ pages["privacy-policy"].url }}" class="copyright-link w-inline-block">
          <div class="copyright-text">{{ 'tn3fbde6f6' | t }}</div>
        </a>
        <a href="{{ pages["terms-and-conditions"].url }}" class="copyright-link w-inline-block">
          <div class="copyright-text">{{ 'tn910fa3b' | t }}</div>
        </a>
      </div>
    </div>
  

<script>var currentSection = document.currentScript.closest('.shopify-section');currentSection.setAttribute("class","section bg-transparent py-8 wf-section");</script>
        
{% schema %}
{
  "name": "Footer",
  "tag": "div",
  "class": "section bg-transparent py-8 wf-section",
  "settings": [
    {
      "type": "richtext",
      "id": "text_block_text_5",
      "label": "Text Block - Text 5",
      "default": "<p>Text Area</p>"
    },
    {
      "type": "richtext",
      "id": "text_block_2_text",
      "label": "Text Block 2 - Text",
      "default": "<p>Text Area</p>"
    },
    {
      "id": "link_block_link",
      "label": "Link Block - Link",
      "type": "url"
    },
    {
      "id": "footer_link_link_8",
      "label": "footer-link - Link 8",
      "type": "url"
    },
    {
      "id": "footer_link_link_7",
      "label": "footer-link - Link 7",
      "type": "url"
    },
    {
      "type": "richtext",
      "id": "text_block_text_4",
      "label": "Text Block - Text 4",
      "default": "<p>Text Area</p>"
    },
    {
      "id": "footer_link_link_6",
      "label": "footer-link - Link 6",
      "type": "url"
    },
    {
      "id": "footer_link_link_5",
      "label": "footer-link - Link 5",
      "type": "url"
    },
    {
      "type": "richtext",
      "id": "text_block_text_3",
      "label": "Text Block - Text 3",
      "default": "<p>Text Area</p>"
    },
    {
      "id": "footer_link_link_4",
      "label": "footer-link - Link 4",
      "type": "url"
    },
    {
      "type": "richtext",
      "id": "text_block_text_2",
      "label": "Text Block - Text 2",
      "default": "<p>Text Area</p>"
    },
    {
      "id": "footer_link_link_3",
      "label": "footer-link - Link 3",
      "type": "url"
    },
    {
      "type": "richtext",
      "id": "text_block_text",
      "label": "Text Block - Text",
      "default": "<p>Text Area</p>"
    },
    {
      "id": "footer_link_link_2",
      "label": "footer-link - Link 2",
      "type": "url"
    },
    {
      "id": "footer_link_link",
      "label": "footer-link - Link",
      "type": "url"
    },
    {
      "id": "link_block_link_2",
      "label": "Link Block - Link 2",
      "type": "url"
    }
  ]
}
{% endschema %}