{%- assign headerSnippetPath = "header-404" -%}{%- assign wfPage = "63b460d12385d158867dd606" -%}{%- assign bodyClasses = "body" -%}
  <div class="cursor-wrapper">
    <div class="cursor-2">
      <div class="text-wrapper items-center">
        <div class="text-block-4">{{ 't20a154' | t }}</div><img src="{{ 'icons8-forward-50-1_1icons8-forward-50-1.png' | asset_url }}" loading="lazy" alt="" class="image-6">
      </div>
    </div>
    <div class="w-embed">
      <style>
.cursor-wrapper{
pointer-events:none;}
</style>
    </div>
  </div>
  <div data-w-id="072811d8-d5e8-b62b-6caf-161b4fedf659" class="preloader">
    <div data-poster-url="https://uploads-ssl.webflow.com/634fff4b200197692b3efce0/6386d881101fa30bff1e11e4_ButtonLoaderNew-poster-00001.jpg" data-video-urls="videos/ButtonLoaderNew-transcode.mp4,videos/ButtonLoaderNew-transcode.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" class="loaderanimation w-background-video w-background-video-atom"><video id="072811d8-d5e8-b62b-6caf-161b4fedf65a-video" autoplay="" loop="" style="background-image:url(&quot;https://uploads-ssl.webflow.com/634fff4b200197692b3efce0/6386d881101fa30bff1e11e4_ButtonLoaderNew-poster-00001.jpg&quot;)" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
        <source src="{{ 'buttonloadernew-transcode.mp4' | asset_url }}" data-wf-ignore="true">
        <source src="{{ 'buttonloadernew-transcode.webm' | asset_url }}" data-wf-ignore="true">
      </video></div>
  </div>
  <div class="section bg-transparent _404 wf-section">
    <div class="nav-container">
      <a href="{{ routes.root_url }}" class="brand w-inline-block">
        <div class="logo"><span class="coco-text">{{ 't783de8a7' | t }}<br></span>{{ 'tn554e6192' | t }}<br></div>
      </a>
      <div data-w-id="78806ed0-6d7b-de31-9009-41fc3748330e" class="nav-menu">
        <div class="flex">
          <a href="{{ pages["shop"].url }}" class="shop-link-bg w-inline-block">
            <div id="ShopLink" class="shop">{{ 't274f16' | t }}</div>
          </a>
          <a href="{{ pages["shop"].url }}" class="shopactivedot w-inline-block"></a>
        </div>
        <div class="flex">
          <a href="{{ pages["about"].url }}" class="menu-item w-inline-block">
            <div>{{ 't3c2336d' | t }}</div>
          </a>
          <a href="{{ pages["about"].url }}" class="active-dot w-inline-block"></a>
        </div>
        <div class="flex">
          <a href="{{ pages["materials"].url }}" class="menu-item w-inline-block">
            <div>{{ 'tn5ff49ff4' | t }}</div>
          </a>
          <a href="{{ pages["materials"].url }}" class="active-dot w-inline-block"></a>
        </div>
        <div data-hover="false" data-delay="0" class="dropdown hide w-dropdown">
          <div data-w-id="78806ed0-6d7b-de31-9009-41fc3748331f" class="menu-item dropdown w-dropdown-toggle">
            <div>{{ 't13ede05' | t }}</div>
            <div class="icon-2 w-icon-dropdown-toggle"></div>
          </div>
          <nav data-w-id="78806ed0-6d7b-de31-9009-41fc37483323" style="opacity:0;display:none" class="dropdown-list w-dropdown-list">
            <a href="#" class="droplink w-dropdown-link">{{ 'tn1baefe39' | t }}</a>
            <a href="#" class="droplink w-dropdown-link">{{ 't7c121960' | t }}</a>
            <a href="#" class="droplink w-dropdown-link">{{ 't56bf8c3b' | t }}</a>
            <a href="#" class="droplink w-dropdown-link">{{ 't20d03d' | t }}</a>
            <a href="#" class="droplink w-dropdown-link">{{ 'tn3a4f9735' | t }}</a>
            <a href="#" class="droplink w-dropdown-link">{{ 'tn7fe2d65b' | t }}</a>
          </nav>
        </div>
        <div data-w-id="78806ed0-6d7b-de31-9009-41fc37483330" class="dropdown">
          <a id="Resource-Link" data-w-id="78806ed0-6d7b-de31-9009-41fc37483331" href="{{ pages["resources"].url }}" class="menu-item dropdown w-inline-block">
            <div>{{ 't13ede05' | t }}</div>
            <div class="icon-2 w-icon-dropdown-toggle"></div>
          </a>
          <div data-w-id="78806ed0-6d7b-de31-9009-41fc37483335" style="opacity:0;display:none" class="dropdown-list">
            <a href="{{ pages["sustainability"].url }}" class="droplink w-inline-block">
              <div>{{ 'tn1baefe39' | t }}</div>
            </a>
            <a href="{{ pages["our-brands"].url }}" class="droplink w-inline-block">
              <div>{{ 't7c121960' | t }}</div>
            </a>
            <a href="{{ pages["compliance"].url }}" class="droplink w-inline-block">
              <div>{{ 't56bf8c3b' | t }}</div>
            </a>
            <a href="{{ pages["faqs"].url }}" class="droplink w-inline-block">
              <div>{{ 't20d03d' | t }}</div>
            </a>
            <a href="{{ pages["blogs"].url }}" class="droplink w-inline-block">
              <div>{{ 't3d4d4f1' | t }}</div>
            </a>
            <a href="#" class="droplink w-inline-block">
              <div>{{ 'tn3a4f9735' | t }}</div>
            </a>
            <a href="{{ pages["terms-and-conditions"].url }}" class="droplink w-inline-block">
              <div>{{ 'tn7fe2d65b' | t }}</div>
            </a>
          </div>
        </div>
        <div class="flex hide">
          <a href="{{ pages["resources"].url }}" class="menu-item w-inline-block">
            <div>{{ 't13ede05' | t }}</div>
          </a>
          <a href="{{ pages["resources"].url }}" class="active-dot w-inline-block"></a>
        </div>
        <a id="contact-btn" href="{{ pages["contact-us"].url }}" class="button btn-white w-button">{{ 't7f2746de' | t }}</a>
      </div>
      <div id="menu-icon" data-w-id="78806ed0-6d7b-de31-9009-41fc37483352" class="meun-icon">
        <div class="icon-bar _1"></div>
        <div class="icon-bar _2"></div>
      </div>
    </div>
    <div class="div-block-33">
      <div id="w-node-e26ac829-7093-6995-cc38-88b1fb6fbefd-867dd606" class="_404-text"><img src="{{ 'group-177.svg' | asset_url }}" loading="lazy" alt="" class="image-23"></div>
      <h1 id="w-node-_4ae6f222-292f-decb-c9c0-aeb419e36840-867dd606" class="heading-14">{{ 't56711246' | t }}<br><span class="text-span-6">{{ 'tn3580006d' | t }}</span></h1>
      <a id="w-node-_2ed57e9e-c91a-e46b-bf23-7416791007e0-867dd606" href="{{ routes.root_url }}" class="btn btn-black w-button">{{ 'tn6624769d' | t }}</a><img src="{{ 'group-311.svg' | asset_url }}" loading="lazy" id="w-node-_88f2c73b-454b-6a2b-805e-f24505ca5a95-867dd606" alt="" class="image-24">
    </div>
  </div>
  <div class="section bg-form rounded py-3 wf-section">
    <div class="text-wrapper">
      <h3 class="heading-3 newsletter-heading">{{ 'tn4e8468bf' | t }}</h3>
    </div>
    <div class="text-wrapper">
      <div class="form-block w-form">
        {%- form "customer",  class: "form flex-col" -%}<input type="hidden" name="contact[tags]" value="newsletter"><input type="email" class="btn form-field w-input" maxlength="256" name="contact[email]" data-name="Email" placeholder="johndoe@mail.com" id="subsEmail" required="">
          <div class="btn btn-bg-coco flex form-btn">
            <div>{{ 'tn69de02d6' | t }}</div><input type="submit" value="Submit" data-wait="Please wait..." id="subscribeBtn" class="submit-button w-button"><img loading="lazy" src="{{ 'icons8-right-arrow-32_1icons8-right-arrow-32.png' | asset_url }}" alt="" class="btn-arrow">
          </div>
        {%- assign form_success = form.posted_successfully? -%}{%- assign form_errors = form.errors -%}{%- render "form-general-script", form_success: form_success, form_errors: form_errors -%}{%- endform -%}
        <div class="success-message-2 w-form-done  {% if form_success %}form-posted-successfully{% endif %}">
          <div>{{ 't5a0ea5a1' | t }}</div>
        </div>
        {%- unless form_success -%}<div class="w-form-fail  {% if form.errors %}form-has-errors{% endif %}">
          <div>{%- render "form-errors", form_errors: form_errors -%}</div>
        </div>{%- endunless -%}
      </div>
    </div>
  </div>
  <div class="section bg-transparent py-8 wf-section">
    <div class="footer-wrapper">
      <div class="col flex _w-30 flex-start">
        <div class="col">
          <h3 class="footer-heading">{{ 't13ede05' | t }}</h3>
          <a href="{{ pages["sustainability"].url }}" class="footer-link w-inline-block">
            <div class="text-block-3">{{ 'tn1baefe39' | t }}</div>
          </a>
          <a href="{{ pages["our-brands"].url }}" class="footer-link w-inline-block">
            <div>{{ 't7c121960' | t }}</div>
          </a>
          <a href="{{ pages["compliance"].url }}" class="footer-link w-inline-block">
            <div>{{ 't56bf8c3b' | t }}</div>
          </a>
          <a href="{{ pages["faqs"].url }}" class="footer-link w-inline-block">
            <div>{{ 't20d03d' | t }}</div>
          </a>
          <a href="{{ pages["downloads"].url }}" class="footer-link w-inline-block">
            <div>{{ 'tn3a4f9735' | t }}</div>
          </a>
          <a href="{{ pages["terms-and-conditions"].url }}" class="footer-link w-inline-block">
            <div>{{ 'tn7fe2d65b' | t }}</div>
          </a>
        </div>
        <div class="col">
          <h3 class="footer-heading">{{ 't3c2336d' | t }}</h3>
          <a href="{{ pages["about"].url }}" class="footer-link w-inline-block">
            <div>{{ 't645f0031' | t }}</div>
          </a>
          <a href="{{ pages["materials"].url }}" class="footer-link w-inline-block">
            <div>{{ 'tn5ff49ff4' | t }}</div>
          </a>
        </div>
      </div>
      <div class="col _w-30">
        <h3 class="footer-heading">{{ 'tn64104400' | t }}</h3>
        <div class="text-wrapper flex-col items-left">
          <div class="footer-link footer-text">{{ 't30acf044' | t }}</div>
          <a href="#" class="link-block w-inline-block">
            <div class="text-block-2">{{ 't3b65c638' | t }}</div>
          </a>
        </div>
        <div class="text-wrapper flex-col items-left">
          <div class="footer-link footer-text">{{ 't2f1bd1e2' | t }}</div>
          <a href="tel:+916746118727" class="link-block phone-number w-inline-block">
            <div>{{ 'tn1e512ba4' | t }}</div>
          </a>
        </div>
      </div>
      <div class="col items-center _w-30 flex-start">
        <a href="{{ routes.root_url }}" class="link-block-7 w-inline-block">
          <div class="footer-logo" data-w-id="b1f044c8-101e-6fb4-7d48-81566922f239" data-animation-type="lottie" data-src="{{ 'chetnalighterbg-01.json' | asset_url }}" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="1.9686352217844805" data-duration="4"></div>
        </a>
      </div>
    </div>
    <div data-w-id="88cd0def-00e0-bb06-e161-fa21791436b3" class="footer">
      <div class="col items-center">
        <div class="copyright-text">{{ 't7f2f918e' | t }}</div>
      </div>
      <div class="col flex items-center">
        <div class="social-icon">
          <a href="#" class="w-inline-block"><img src="{{ 'group-329.svg' | asset_url }}" loading="lazy" alt=""></a>
        </div>
        <div class="social-icon">
          <a href="#" class="w-inline-block"><img src="{{ 'group-202x_1group-202x.png' | asset_url }}" loading="lazy" alt=""></a>
        </div>
        <div class="social-icon">
          <a href="https://www.facebook.com/HornButtonManufacturer/" target="_blank" class="w-inline-block"><img src="{{ 'group-212x_1group-212x.png' | asset_url }}" loading="lazy" alt=""></a>
        </div>
        <div class="social-icon">
          <a href="https://www.instagram.com/chetnainternational/?hl=en" class="w-inline-block"><img src="{{ 'group-222x_1group-222x.png' | asset_url }}" loading="lazy" alt=""></a>
        </div>
      </div>
      <div class="col flex items-center">
        <a href="{{ pages["privacy-policy"].url }}" class="copyright-link w-inline-block">
          <div class="copyright-text">{{ 'tn3fbde6f6' | t }}</div>
        </a>
        <a href="{{ pages["terms-and-conditions"].url }}" class="copyright-link w-inline-block">
          <div class="copyright-text">{{ 'tn910fa3b' | t }}</div>
        </a>
      </div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=63b460d12385d15a227dd601" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <script>
  window.onload = function(){
    document.getElementsByTagName("body")[0].style.overflow = "auto";
  if(window.innerWidth < 780){
   document.getElementById("Resource-Link").removeAttribute("href");
    console.log("Hi");
  document.getElementById("menu-icon").addEventListener("click", function(){
    console.log("Hi")
    document.getElementsByTagName("body")[0].classList.toggle("overflowHide");
})}
  }
 //window.onload = function(){document.getElementsByTagName("body")[0].style.overflow = "auto";}; 
</script>

{{ 'udesly-shopify.min.js' | asset_url | script_tag }}