{%- assign headerSnippetPath = "header-collection" -%}{%- assign wfPage = "63b460d12385d139e97dd60f" -%}{%- assign bodyClasses = "body-4" -%}
  <div data-w-id="47014bee-5c08-7934-5e88-7f7f6671150b" class="cursor-wrapper">
    <div data-w-id="47014bee-5c08-7934-5e88-7f7f6671150c" class="cursor-2">
      <div data-w-id="47014bee-5c08-7934-5e88-7f7f6671150d" class="text-wrapper items-center">
        <div class="text-block-4">{{ 't20a154' | t }}</div><img src="{{ 'icons8-forward-50-1_1icons8-forward-50-1.png' | asset_url }}" loading="lazy" alt="" class="image-6">
      </div>
    </div>
    <div class="w-embed">
      <style>
.cursor-wrapper{
pointer-events:none;}
</style>
    </div>
  </div>
  {%- render 'page-loader' -%}
  <div class="hero-section wf-section">
    {%- section 'navbar' -%}
    <div class="about-hero-section flex-col gap-2">
      <div class="wrapper flex-col gap-2 center">
        <div class="flex-2 gap-0 mb-0 justify-start items-center">
          <div id="material-name" class="text-hide">
            <h1 class="heading text-left">{{ collection.title }}</h1>
          </div>
        </div>
        <p class="about-para _w-80 text-center materials-para center">{{ collection.description }}</p>
        <div class="wrapper flex-col gap-0 items-center buttons-center">
          <a href="#" class="btn btn-bg-coco fs-6 _w-100 w-button">{{ 't246f9881' | t }}</a>
          <a id="material-shop-btn" href="/collections/all?filter.p.m.custom.collection={{ collection.title }}" class="btn bg-cart-btn _w-100 w-button">{{ 'tn10d26d54' | t }}</a>
          <a href="#" class="btn border-btn fs-6 px-1 _w-100 w-button">{{ 't515902f1' | t }}</a>
        </div>
      </div>
      <div class="wrapper bg-video">
        <div data-poster-url="https://uploads-ssl.webflow.com/634fff4b200197692b3efce0/63612508bc53e8ea09efdc4f_TrimmedButton-poster-00001.jpg" data-video-urls="videos/TrimmedButton-transcode.mp4,videos/TrimmedButton-transcode.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" class="background-video w-background-video w-background-video-atom"><video id="5d234587-a771-d3cd-e1aa-956620706129-video" autoplay="" loop="" style="background-image:url(&quot;https://uploads-ssl.webflow.com/634fff4b200197692b3efce0/63612508bc53e8ea09efdc4f_TrimmedButton-poster-00001.jpg&quot;)" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
            <source src="{{ 'trimmedbutton-transcode.mp4' | asset_url }}" data-wf-ignore="true">
            <source src="{{ 'trimmedbutton-transcode.webm' | asset_url }}" data-wf-ignore="true">
          </video></div>
      </div>
    </div>
  </div>
  <script>
    console.log({{ collection.metafields.custom.gallary }})
  console.log({{collection.metafields.custom.gallary.first }})
  </script>
  <div data-w-id="4bbefa8e-4226-6ca9-69df-b189a2894743" class="section bg-transparent mr-0 pr-0 store-section wf-section">
    <div class="text-wrapper pr-2 pl-2">
      <h1 style="-webkit-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="heading text-left">{{ 't8eb013f' | t }}</h1>
    </div>
    {% assign pics = collection.metafields.custom.gallary | split : ", " %}
    {{ pics }}
    {% for pic in pics %}
      <script>console.log({{pic}})</script>
      {% endfor %}

  <div id="Gallery-slider" data-w-id="e6f0de6c-bd0c-0366-34ac-e10b6ea4e3d8" style="-webkit-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" role="list" class="cards no-wrap w-dyn-items">

  <div role="listitem" class="collection-item-3 w-dyn-item">
          <div class="product-card gallary-card">
            <div class="product-image materials-card-img gallery-card"><img loading="lazy" src="{{ collection.metafields.custom.gallary[0] | image_url }}" alt="" class="product-img"></div>
          </div>
        </div>
    <div role="listitem" class="collection-item-3 w-dyn-item">
          <div class="product-card gallary-card">
            <div class="product-image materials-card-img gallery-card"><img loading="lazy" src="https://mailrelay.com/wp-content/uploads/2018/03/que-es-un-blog-1.png" alt="" class="product-img"></div>
          </div>
        </div>
    <div role="listitem" class="collection-item-3 w-dyn-item">
          <div class="product-card gallary-card">
            <div class="product-image materials-card-img gallery-card"><img loading="lazy" src="https://mailrelay.com/wp-content/uploads/2018/03/que-es-un-blog-1.png" alt="" class="product-img"></div>
          </div>
        </div>
    <div role="listitem" class="collection-item-3 w-dyn-item">
          <div class="product-card gallary-card">
            <div class="product-image materials-card-img gallery-card"><img loading="lazy" src="https://mailrelay.com/wp-content/uploads/2018/03/que-es-un-blog-1.png" alt="" class="product-img"></div>
          </div>
        </div> 
      </div>

    
    
    {%- assign setItems = collection.metafields.udesly['gallery'] -%}<div class="w-dyn-list">
      {%- unless setItems.size == 0 -%}<div id="Gallery-slider" data-w-id="e6f0de6c-bd0c-0366-34ac-e10b6ea4e3d8" style="-webkit-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" role="list" class="cards no-wrap w-dyn-items">
        {%- for setItem in setItems -%}<div role="listitem" class="collection-item-3 w-dyn-item">
          <div class="product-card gallary-card">
            <div class="product-image materials-card-img gallery-card"><img loading="lazy" src="{{ setItem.src }}" alt="" class="product-img"></div>
          </div>
        </div>{%- endfor -%}
      </div>{%- endunless -%}
      {%- if setItems.size == 0 -%}<div class="w-dyn-empty">
        <div>{{ 't3d503d2b' | t }}</div>
      </div>{%- endif -%}
    <template><div class="w-dyn-list" udesly-repeater="true">
      <div id="Gallery-slider" data-w-id="e6f0de6c-bd0c-0366-34ac-e10b6ea4e3d8" style="-webkit-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" role="list" class="cards no-wrap w-dyn-items">
        <div role="listitem" class="collection-item-3 w-dyn-item">
          <div class="product-card gallary-card">
            <div class="product-image materials-card-img gallery-card"><img loading="lazy" src="{# setItem.src #}" alt="" class="product-img"></div>
          </div>
        </div>
      </div>
      <div class="w-dyn-empty">
        <div>No items found.</div>
      </div>
    </div></template></div>
  </div>
  <div data-w-id="5504fd09-e9e1-67ab-7458-9a28049e4c75" class="section bg-transparent py-8 pt-6 pb-4 wf-section">
    <h1 style="-webkit-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="heading">{{ 'tn18895037' | t }}<br>{{ 't49cbbe78' | t }}</h1>
    <div style="-webkit-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="details-card">
      <div class="text-wrapper">
        <div class="w-layout-grid details-card-grid">
          <div class="text-wrapper gap-2 flex-start"><img src="{{ 'noun-layers-2063359.svg' | asset_url }}" loading="lazy" alt="" class="icon">
            <div class="details-card-text">{{ collection.metafields.custom.feature_1 }}</div>
          </div>
          <div class="text-wrapper gap-2 flex-start"><img src="{{ 'noun-delivery-3383839.svg' | asset_url }}" loading="lazy" alt="" class="icon">
            <div class="details-card-text">{{ collection.metafields.custom.feature_4 }}</div>
          </div>
          <div class="text-wrapper gap-2 flex-start"><img src="{{ 'noun-price-tag-3803922.svg' | asset_url }}" loading="lazy" alt="" class="icon">
            <div class="details-card-text">{{ collection.metafields.custom.feature_2 }}</div>
          </div>
          <div class="text-wrapper gap-2 flex-start"><img src="{{ 'group-345.svg' | asset_url }}" loading="lazy" alt="" class="icon dye">
            <div class="details-card-text">{{ collection.metafields.custom.feature_5 }}</div>
          </div>
          <div id="w-node-_5504fd09-e9e1-67ab-7458-9a28049e4c8d-e97dd60f" class="text-wrapper gap-2 flex-start _w-60"><img src="{{ 'group-343.svg' | asset_url }}" loading="lazy" alt="" class="icon">
            <div class="details-card-text">{{ collection.metafields.custom.feature_3 }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {%- render 'newsletter' -%}
  {%- section 'footer' -%}
  <div class="div-block-42">
    <div data-node-type="commerce-cart-wrapper" data-open-product="" data-wf-cart-type="modal" data-wf-cart-query="" data-wf-page-link-href-prefix="" class="w-commerce-commercecartwrapper">
      <a href="#" data-node-type="commerce-cart-open-link" aria-haspopup="dialog" aria-label="Open cart" role="button" class="w-commerce-commercecartopenlink btn btn-bg-coco cart-btn w-inline-block"><svg class="w-commerce-commercecartopenlinkicon" width="17px" height="17px" viewBox="0 0 17 17">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <path d="M2.60592789,2 L0,2 L0,0 L4.39407211,0 L4.84288393,4 L16,4 L16,9.93844589 L3.76940945,12.3694378 L2.60592789,2 Z M15.5,17 C14.6715729,17 14,16.3284271 14,15.5 C14,14.6715729 14.6715729,14 15.5,14 C16.3284271,14 17,14.6715729 17,15.5 C17,16.3284271 16.3284271,17 15.5,17 Z M5.5,17 C4.67157288,17 4,16.3284271 4,15.5 C4,14.6715729 4.67157288,14 5.5,14 C6.32842712,14 7,14.6715729 7,15.5 C7,16.3284271 6.32842712,17 5.5,17 Z" fill="currentColor" fill-rule="nonzero"></path>
          </g>
        </svg>
        <div class="text-block-39 w-inline-block">{{ 't1fef40' | t }}</div>
        <div class="w-commerce-commercecartopenlinkcount cart-quantity">{{ cart.item_count }}</div>
      </a>
      <div data-node-type="commerce-cart-container-wrapper" style="display:none" class="w-commerce-commercecartcontainerwrapper w-commerce-commercecartcontainerwrapper--cartType-modal cart-wrapper">
        <div role="dialog" data-node-type="commerce-cart-container" class="w-commerce-commercecartcontainer cart-container">
          <div class="w-commerce-commercecartheader cart-header">
            <h4 class="w-commerce-commercecartheading heading-9">{{ 't1fef40' | t }}</h4>
            <a href="#" data-node-type="commerce-cart-close-link" role="button" aria-label="Close cart" class="w-commerce-commercecartcloselink close-button w-inline-block"><img src="{{ 'path-327.svg' | asset_url }}" loading="lazy" alt=""></a>
          </div>
          <div class="w-commerce-commercecartformwrapper">
            <form data-node-type="commerce-cart-form" style="display:none" class="w-commerce-commercecartform">
              <div class="w-commerce-commercecartfooter cart-footer">
                <div aria-atomic="true" aria-live="polite" class="w-commerce-commercecartlineitem cart-line-item">
                  <div class="div-block-6">
                    <div class="text-block-13">{{ 'tn77079b6c' | t }}</div>
                  </div>
                  <div class="div-block-5">
                    <div class="col cart">
                      <div class="div-block-7">
                        <div class="text-block-14">{{ 'tn76f396dc' | t }}</div>
                        <div class="w-commerce-commercecartordervalue text-block-15">{{ cart.items_subtotal_price | money }}</div>
                      </div>
                      <div class="div-block-8">
                        <div class="text-block-16">{{ 't4d3eb24' | t }}</div>
                        <div class="w-commerce-commercecartordervalue text-block-17">{{ cart.items_subtotal_price | money }}</div>
                      </div>
                    </div>
                    <div class="col cart">
                      <div>
                        <a href="/checkout" value="Place Order" data-node-type="cart-checkout-button" class="w-commerce-commercecartcheckoutbutton btn btn-bg-coco cart" data-loading-text="Hang Tight...">{{ 'ta750ab5' | t }}</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="div-block-9">
                <div class="div-block-6">
                  <div class="text-block-13">{{ 'tn685f8ab2' | t }}</div>
                </div>
                <script type="text/x-wf-template" id="wf-template-c10bc115-e0fa-ce14-55d0-ad2f9167a940"><div data-node-type="cart-item" class="cart-item w-commerce-commercecartitem" template-part-bind="c10bc115-e0fa-ce14-55d0-ad2f9167a941"><img data-node-type="cart-item-image" class="image-19 w-commerce-commercecartitemimage" template-part-bind="c10bc115-e0fa-ce14-55d0-ad2f9167a942" src="<%= it.image %>"><a data-node-type="link" class="link-block-10" template-part-bind="c10bc115-e0fa-ce14-55d0-ad2f9167a943" href="<%= it.url%>"><div data-node-type="cart-item-info" class="div-block-13 w-commerce-commercecartiteminfo" template-part-bind="c10bc115-e0fa-ce14-55d0-ad2f9167a944"><div data-node-type="cart-product-name" class="text-block-20 w-commerce-commercecartproductname" template-part-bind="c10bc115-e0fa-ce14-55d0-ad2f9167a945"><%= it.title %></div><ul class="option-list-3 w-commerce-commercecartoptionlist" template-part-bind="c10bc115-e0fa-ce14-55d0-ad2f9167a946"><% Object.entries(it.properties).forEach( data =>  { %><li data-node-type="cart-option-list-item"><span data-node-type="cart-option-list-item-label" template-part-bind="c10bc115-e0fa-ce14-55d0-ad2f9167a948"><%= data[0] %></span><span>: </span><span data-node-type="cart-option-list-item-value" template-part-bind="c10bc115-e0fa-ce14-55d0-ad2f9167a94b"><%= data[1] %></span></li><% }) %></ul></div></a><input class="w-commerce-commercecartquantity quantity cart" name="<%= it.id %>" type="number" min="0" min="1" value="<%= it.quantity %>" data-node-type="cart-quantity"><div class="div-block-12"><div class="text-block-19" template-part-bind="c10bc115-e0fa-ce14-55d0-ad2f9167a94e"><%= it.price %></div><a data-node-type="cart-remove-link" class="remove-button" href="#" role="button" aria-label="Remove item from cart" template-part-bind="c10bc115-e0fa-ce14-55d0-ad2f9167a94f" data-product-id="<%= it.id %>"><div class="text-block-21">Remove</div></a></div><div class="div-block-14"><div class="div-block-11"><ul data-node-type="list" class="list-2"><li data-node-type="list-item"><div class="text-block-18">Delivery in 2 days , Sun | Free</div></li></ul></div></div></div></script>
                <div class="w-commerce-commercecartlist cart-list" data-wf-collection="database.commerceOrder.userItems" data-wf-template-id="wf-template-c10bc115-e0fa-ce14-55d0-ad2f9167a940"></div>
              </div>
            </form>
            <div class="w-commerce-commercecartemptystate">
              <div aria-live="polite" aria-label="This cart is empty">{{ 't3d503d2b' | t }}</div>
            </div>
            <div aria-live="assertive" style="display:none" data-node-type="commerce-cart-error" class="w-commerce-commercecarterrorstate">
              <div class="w-cart-error-msg" data-w-cart-quantity-error="Product is not available in this quantity." data-w-cart-general-error="Something went wrong when adding this item to the cart." data-w-cart-checkout-error="Checkout is disabled on this site." data-w-cart-cart_order_min-error="The order minimum was not met. Add more items to your cart to continue." data-w-cart-subscription_error-error="Before you purchase, please use your email invite to verify your address so we can send order updates.">{{ 'tn1c765d0d' | t }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=63b460d12385d15a227dd601" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <script>
  window.onload = function(){
    document.getElementsByTagName("body")[0].style.overflow = "auto";
  if(window.innerWidth < 780){
   document.getElementById("Resource-Link").removeAttribute("href");
    console.log("Hi");
  document.getElementById("menu-icon").addEventListener("click", function(){
    console.log("Hi")
    document.getElementsByTagName("body")[0].classList.toggle("overflowHide");
})}
  }
 //window.onload = function(){document.getElementsByTagName("body")[0].style.overflow = "auto";}; 
</script>
  <script>
const scrollHandler =(id)=>{
const slider = document.getElementById(id);
let isDown = false;
let startX;
let scrollLeft;
slider.addEventListener('mousedown', (e) => {
  isDown = true;
  slider.classList.add('active');
  startX = e.pageX - slider.offsetLeft;
  scrollLeft = slider.scrollLeft;
});
slider.addEventListener('mouseleave', () => {
  isDown = false;
  slider.classList.remove('active');
});
slider.addEventListener('mouseup', () => {
  isDown = false;
  slider.classList.remove('active');
});
slider.addEventListener('mousemove', (e) => {
  if(!isDown) return;
  e.preventDefault();
  const x = e.pageX - slider.offsetLeft;
  const walk = (x - startX) * 3; //scroll-fast
  slider.scrollLeft = scrollLeft - walk;
  console.log(walk);
});
}
scrollHandler('Gallery-slider');
//*******************************

</script>

{{ 'udesly-shopify.min.js' | asset_url | script_tag }}