{%- assign headerSnippetPath = "header-password" -%}{%- assign wfPage = "63b460d12385d168ea7dd627" -%}{%- assign bodyClasses = "body-2 px-6 bg-white" -%}
  <div data-w-id="072811d8-d5e8-b62b-6caf-161b4fedf659" class="preloader">
    <div data-poster-url="https://uploads-ssl.webflow.com/634fff4b200197692b3efce0/6386d881101fa30bff1e11e4_ButtonLoaderNew-poster-00001.jpg" data-video-urls="videos/ButtonLoaderNew-transcode.mp4,videos/ButtonLoaderNew-transcode.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" class="loaderanimation w-background-video w-background-video-atom"><video id="072811d8-d5e8-b62b-6caf-161b4fedf65a-video" autoplay="" loop="" style="background-image:url(&quot;https://uploads-ssl.webflow.com/634fff4b200197692b3efce0/6386d881101fa30bff1e11e4_ButtonLoaderNew-poster-00001.jpg&quot;)" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
        <source src="{{ 'buttonloadernew-transcode.mp4' | asset_url }}" data-wf-ignore="true">
        <source src="{{ 'buttonloadernew-transcode.webm' | asset_url }}" data-wf-ignore="true">
      </video></div>
  </div>
  <div class="white-section wf-section">
    <div class="faq-hero-section">
      <div class="nav-container white-variant">
        <a href="{{ routes.root_url }}" class="brand white-variant w-inline-block">
          <div class="lottie-animation-3" data-w-id="0ec33918-79fc-ba8b-67d0-eece6a8ca8f6" data-animation-type="lottie" data-src="{{ 'chetnadarkerbg-01.json' | asset_url }}" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="1.9686352217844805" data-duration="4"></div>
          <div class="logo"><span class="coco-text white-variant">{{ 't783de8a7' | t }}<br></span>{{ 'tn554e6192' | t }}<br></div>
        </a>
        <div class="nav-menu">
          <div class="flex">
            <a href="{{ pages["shop"].url }}" class="shop-link-bg w-inline-block">
              <div class="shop">{{ 't274f16' | t }}</div>
              <div id="shop-btn-border" class="div-block-38"></div>
            </a>
            <a href="{{ pages["shop"].url }}" class="shopactivedot w-inline-block"></a>
          </div>
          <div class="flex">
            <a href="{{ pages["about"].url }}" class="menu-item white-variant w-inline-block">
              <div>{{ 't3c2336d' | t }}</div>
            </a>
            <a href="{{ pages["about"].url }}" class="active-dot w-inline-block"></a>
          </div>
          <div class="flex">
            <a href="{{ pages["materials"].url }}" class="menu-item white-variant w-inline-block">
              <div>{{ 'tn5ff49ff4' | t }}</div>
            </a>
            <a href="{{ pages["materials"].url }}" class="active-dot w-inline-block"></a>
          </div>
          <div data-hover="false" data-delay="0" class="dropdown hide w-dropdown">
            <div data-w-id="154e7e4d-dbff-18e8-85d9-b31adb27cc5b" class="menu-item dropdown w-dropdown-toggle">
              <div>{{ 't13ede05' | t }}</div>
              <div class="icon-2 w-icon-dropdown-toggle"></div>
            </div>
            <nav class="dropdown-list w-dropdown-list">
              <a href="#" class="droplink w-dropdown-link">{{ 'tn1baefe39' | t }}</a>
              <a href="#" class="droplink w-dropdown-link">{{ 't7c121960' | t }}</a>
              <a href="#" class="droplink w-dropdown-link">{{ 't56bf8c3b' | t }}</a>
              <a href="#" class="droplink w-dropdown-link">{{ 't20d03d' | t }}</a>
              <a href="#" class="droplink w-dropdown-link">{{ 'tn3a4f9735' | t }}</a>
              <a href="#" class="droplink w-dropdown-link">{{ 'tn7fe2d65b' | t }}</a>
            </nav>
          </div>
          <div data-w-id="154e7e4d-dbff-18e8-85d9-b31adb27cc6c" class="dropdown">
            <a id="Resource-Link" data-w-id="2124c678-c7f3-9371-0ac0-c3f995866794" href="{{ pages["resources"].url }}" class="menu-item dropdown white-variant w-inline-block">
              <div>{{ 't13ede05' | t }}</div>
              <div class="icon-2 w-icon-dropdown-toggle"></div>
            </a>
            <div class="dropdown-list">
              <a href="{{ pages["sustainability"].url }}" class="droplink w-inline-block">
                <div>{{ 'tn1baefe39' | t }}</div>
              </a>
              <a href="{{ pages["our-brands"].url }}" class="droplink w-inline-block">
                <div>{{ 't7c121960' | t }}</div>
              </a>
              <a href="{{ pages["compliance"].url }}" class="droplink w-inline-block">
                <div>{{ 't56bf8c3b' | t }}</div>
              </a>
              <a href="{{ pages["faqs"].url }}" class="droplink w-inline-block">
                <div>{{ 't20d03d' | t }}</div>
              </a>
              <a href="{{ pages["blogs"].url }}" class="droplink w-inline-block">
                <div>{{ 't3d4d4f1' | t }}</div>
              </a>
              <a href="{{ pages["downloads"].url }}" class="droplink w-inline-block">
                <div>{{ 'tn3a4f9735' | t }}</div>
              </a>
              <a href="{{ pages["terms-and-conditions"].url }}" class="droplink w-inline-block">
                <div>{{ 'tn7fe2d65b' | t }}</div>
              </a>
            </div>
          </div>
          <div data-node-type="commerce-cart-wrapper" data-open-product="" data-wf-cart-type="modal" data-wf-cart-query="" data-wf-page-link-href-prefix="" class="w-commerce-commercecartwrapper">
            <a href="#" data-node-type="commerce-cart-open-link" aria-haspopup="dialog" aria-label="Open cart" role="button" class="w-commerce-commercecartopenlink btn btn-bg-coco cart-btn w-inline-block"><svg class="w-commerce-commercecartopenlinkicon" width="17px" height="17px" viewBox="0 0 17 17">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <path d="M2.60592789,2 L0,2 L0,0 L4.39407211,0 L4.84288393,4 L16,4 L16,9.93844589 L3.76940945,12.3694378 L2.60592789,2 Z M15.5,17 C14.6715729,17 14,16.3284271 14,15.5 C14,14.6715729 14.6715729,14 15.5,14 C16.3284271,14 17,14.6715729 17,15.5 C17,16.3284271 16.3284271,17 15.5,17 Z M5.5,17 C4.67157288,17 4,16.3284271 4,15.5 C4,14.6715729 4.67157288,14 5.5,14 C6.32842712,14 7,14.6715729 7,15.5 C7,16.3284271 6.32842712,17 5.5,17 Z" fill="currentColor" fill-rule="nonzero"></path>
                </g>
              </svg>
              <div class="w-inline-block">{{ 't1fef40' | t }}</div>
              <div class="w-commerce-commercecartopenlinkcount cart-quantity">{{ 't30' | t }}</div>
            </a>
            <div data-node-type="commerce-cart-container-wrapper" style="display:none" class="w-commerce-commercecartcontainerwrapper w-commerce-commercecartcontainerwrapper--cartType-modal cart-wrapper">
              <div role="dialog" data-node-type="commerce-cart-container" class="w-commerce-commercecartcontainer cart-container">
                <div class="w-commerce-commercecartheader cart-header">
                  <h4 class="w-commerce-commercecartheading heading-9">{{ 't1fef40' | t }}</h4>
                  <a href="#" data-node-type="commerce-cart-close-link" role="button" aria-label="Close cart" class="w-commerce-commercecartcloselink w-inline-block"><svg class="icon-6" width="16px" height="16px" viewBox="0 0 16 16">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g fill-rule="nonzero" fill="#333333">
                          <polygon points="6.23223305 8 0.616116524 13.6161165 2.38388348 15.3838835 8 9.76776695 13.6161165 15.3838835 15.3838835 13.6161165 9.76776695 8 15.3838835 2.38388348 13.6161165 0.616116524 8 6.23223305 2.38388348 0.616116524 0.616116524 2.38388348 6.23223305 8"></polygon>
                        </g>
                      </g>
                    </svg></a>
                </div>
                <div class="w-commerce-commercecartformwrapper">
                  <form data-node-type="commerce-cart-form" style="display:none" class="w-commerce-commercecartform">
                    <div class="w-commerce-commercecartfooter cart-footer">
                      <div aria-atomic="true" aria-live="polite" class="w-commerce-commercecartlineitem cart-line-item">
                        <div class="div-block-6">
                          <div class="text-block-13">{{ 'tn77079b6c' | t }}</div>
                        </div>
                        <div class="div-block-5">
                          <div class="col cart">
                            <div class="div-block-7">
                              <div class="text-block-14">{{ 'tn76f396dc' | t }}</div>
                              <div class="w-commerce-commercecartordervalue text-block-15"></div>
                            </div>
                            <div class="div-block-8">
                              <div class="text-block-16">{{ 't4d3eb24' | t }}</div>
                              <div class="w-commerce-commercecartordervalue text-block-17 carttotal"></div>
                            </div>
                          </div>
                          <div class="col cart">
                            <div>
                              <a href="/checkout" value="Place Order" data-node-type="cart-checkout-button" class="w-commerce-commercecartcheckoutbutton btn btn-bg-coco cart" data-loading-text="Hang Tight...">{{ 'ta750ab5' | t }}</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="div-block-9">
                      <div class="div-block-6">
                        <div class="text-block-13">{{ 'tn685f8ab2' | t }}</div>
                      </div>
                      <script type="text/x-wf-template" id="wf-template-60f92897-843e-8cd1-d3ca-34e5d2372ebb"><div data-node-type="cart-item" class="cart-item w-commerce-commercecartitem" template-part-bind="60f92897-843e-8cd1-d3ca-34e5d2372ebc"><img data-node-type="cart-item-image" class="image-19 w-commerce-commercecartitemimage" template-part-bind="60f92897-843e-8cd1-d3ca-34e5d2372ebd" src="<%= it.image %>"><div data-node-type="cart-item-info" class="div-block-13 w-commerce-commercecartiteminfo" template-part-bind="60f92897-843e-8cd1-d3ca-34e5d2372ebe"><div data-node-type="cart-product-name" class="text-block-20 w-commerce-commercecartproductname" template-part-bind="60f92897-843e-8cd1-d3ca-34e5d2372ebf"><%= it.title %></div><ul class="option-list-3 w-commerce-commercecartoptionlist" template-part-bind="60f92897-843e-8cd1-d3ca-34e5d2372ec0"><% Object.entries(it.properties).forEach( data =>  { %><li data-node-type="cart-option-list-item"><span data-node-type="cart-option-list-item-label" template-part-bind="60f92897-843e-8cd1-d3ca-34e5d2372ec2"><%= data[0] %></span><span>: </span><span data-node-type="cart-option-list-item-value" template-part-bind="60f92897-843e-8cd1-d3ca-34e5d2372ec5"><%= data[1] %></span></li><% }) %></ul></div><input class="w-commerce-commercecartquantity quantity cart" name="<%= it.id %>" type="number" min="0" min="1" value="<%= it.quantity %>" data-node-type="cart-quantity"><div class="div-block-12"><div class="text-block-19" template-part-bind="60f92897-843e-8cd1-d3ca-34e5d2372ec8"><%= it.price %></div><a data-node-type="cart-remove-link" class="remove-button" href="#" role="button" aria-label="Remove item from cart" template-part-bind="60f92897-843e-8cd1-d3ca-34e5d2372ec9" data-product-id="<%= it.id %>"><div class="text-block-21">Remove</div></a></div><div class="div-block-14"><div class="div-block-11"><ul data-node-type="list" class="list-2"><li data-node-type="list-item"><div class="text-block-18">Delivery in 2 days , Sun | Free</div></li></ul></div></div></div></script>
                      <div class="w-commerce-commercecartlist cart-list" data-wf-collection="database.commerceOrder.userItems" data-wf-template-id="wf-template-60f92897-843e-8cd1-d3ca-34e5d2372ebb"></div>
                    </div>
                  </form>
                  <div class="w-commerce-commercecartemptystate">
                    <div aria-live="polite" aria-label="This cart is empty">{{ 't3d503d2b' | t }}</div>
                  </div>
                  <div aria-live="assertive" style="display:none" data-node-type="commerce-cart-error" class="w-commerce-commercecarterrorstate">
                    <div class="w-cart-error-msg" data-w-cart-quantity-error="Product is not available in this quantity." data-w-cart-general-error="Something went wrong when adding this item to the cart." data-w-cart-checkout-error="Checkout is disabled on this site." data-w-cart-cart_order_min-error="The order minimum was not met. Add more items to your cart to continue." data-w-cart-subscription_error-error="Before you purchase, please use your email invite to verify your address so we can send order updates.">{{ 'tn1c765d0d' | t }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex hide">
            <a href="{{ pages["resources"].url }}" class="menu-item w-inline-block">
              <div>{{ 't13ede05' | t }}</div>
            </a>
            <a href="{{ pages["resources"].url }}" class="active-dot w-inline-block"></a>
          </div>
          <a id="contact-btn" href="{{ pages["contact-us"].url }}" class="button btn-white nav-btn w-button">{{ 't7f2746de' | t }}</a>
        </div>
        <div id="menu-icon" data-w-id="154e7e4d-dbff-18e8-85d9-b31adb27cc8b" class="meun-icon">
          <div class="icon-bar _1"></div>
          <div class="icon-bar _2"></div>
        </div>
      </div>
      <div class="container flex flex-start">
        <h1 data-w-id="78597758-0e15-5096-b38f-94b80b92cdc4" class="heading text-left _w-80 mb-2 text-white">{{ 't69e313e4' | t }}</h1>
      </div>
    </div>
    <div class="container _w-80 py-5 pt-6 pb-6">
      <p class="terms-para"><strong>{{ 'tn6b957407' | t }}</strong>{{ 'tn5b89523e' | t }}<br><br>The delivery times for products depend on the product lead times for the product. We deliver most items Monday to Saturday. Once your shipment is ready for dispatch and the balance payments are cleared, our team will coordinate and communicate to you the tentative date of delivery (Delivery Date) vide e-mail at least ten days prior to the delivery of your order. The cost of shipment will be calculated using the city/ town name or pin code of the address for delivery and the order size. You may also get a call from the Courier Company/ Logistics partner confirming the tentative date and the time of delivery. However, as we do not have any direct control over the courier partners/ logistics partner, we cannot guarantee that they will act only in a certain manner or will necessarily call before getting your order for delivery. The delivery person will deliver the goods to your building premises or wherever it is physically possible to deliver the goods.&nbsp; For higher floors, we are not equipped to deliver the goods to your doorstep unless a lift facility is available. You are requested to arrange for your own laborers/ manpower to get the big products to the higher floor. The responsibility of our logistics partners to deliver the large products is restricted to the ground floor or maximum first floor of the building. For the safety of the goods during the transit and unpredictable and multiple handling at times, we secure most of the goods with wooden crates. We understand that these crates make the packaging bulky, however, they are absolutely necessary for securing the product. These crates may cause some inconvenience to the customer but are unavoidable. The customer should open the goods themselves or with the help of a local carpenter or a professional and inspect the same. Any defect or damage must be reported to the delivery person and to the customer care team at <strong>{{ 'tn6b957407' | t }}</strong>{{ 't3c6a9448' | t }}<strong>{{ 'tn6b957407' | t }}</strong>{{ 't8262669' | t }}<strong>{{ 'tn6b957407' | t }}</strong>{{ 't79ff57aa' | t }}<br><br>{{ 'tnbf93669' | t }}<br><br>{{ 't470acada' | t }}<br><strong>{{ 't4769253e' | t }}</strong>{{ 'tn6f6b1096' | t }}<br><strong>{{ 'tn554e6192' | t }}</strong>{{ 'tn52a0ff50' | t }}</p>
      <h3 class="terms-heading">{{ 'tnbaa8548' | t }}</h3>
      <p class="terms-para">{{ 't6185cb55' | t }}</p>
    </div>
  </div>
  <div class="section bg-form rounded py-3 wf-section">
    <div class="text-wrapper">
      <h3 class="heading-3 newsletter-heading">{{ 'tn4e8468bf' | t }}</h3>
    </div>
    <div class="text-wrapper">
      <div class="form-block w-form">
        {%- form "customer",  class: "form flex-col" -%}<input type="hidden" name="contact[tags]" value="newsletter"><input type="email" class="btn form-field w-input" maxlength="256" name="contact[email]" data-name="Email" placeholder="johndoe@mail.com" id="subsEmail" required="">
          <div class="btn btn-bg-coco flex form-btn">
            <div>{{ 'tn69de02d6' | t }}</div><input type="submit" value="Submit" data-wait="Please wait..." id="subscribeBtn" class="submit-button w-button"><img loading="lazy" src="{{ 'icons8-right-arrow-32_1icons8-right-arrow-32.png' | asset_url }}" alt="" class="btn-arrow">
          </div>
        {%- assign form_success = form.posted_successfully? -%}{%- assign form_errors = form.errors -%}{%- render "form-general-script", form_success: form_success, form_errors: form_errors -%}{%- endform -%}
        <div class="success-message-2 w-form-done  {% if form_success %}form-posted-successfully{% endif %}">
          <div>{{ 't5a0ea5a1' | t }}</div>
        </div>
        {%- unless form_success -%}<div class="w-form-fail  {% if form.errors %}form-has-errors{% endif %}">
          <div>{%- render "form-errors", form_errors: form_errors -%}</div>
        </div>{%- endunless -%}
      </div>
    </div>
  </div>
  <div class="section bg-transparent py-8 wf-section">
    <div class="footer-wrapper">
      <div class="col flex _w-30 flex-start">
        <div class="col">
          <h3 class="footer-heading">{{ 't13ede05' | t }}</h3>
          <a href="{{ pages["sustainability"].url }}" class="footer-link w-inline-block">
            <div class="text-block-3">{{ 'tn1baefe39' | t }}</div>
          </a>
          <a href="{{ pages["our-brands"].url }}" class="footer-link w-inline-block">
            <div>{{ 't7c121960' | t }}</div>
          </a>
          <a href="{{ pages["compliance"].url }}" class="footer-link w-inline-block">
            <div>{{ 't56bf8c3b' | t }}</div>
          </a>
          <a href="{{ pages["faqs"].url }}" class="footer-link w-inline-block">
            <div>{{ 't20d03d' | t }}</div>
          </a>
          <a href="{{ pages["downloads"].url }}" class="footer-link w-inline-block">
            <div>{{ 'tn3a4f9735' | t }}</div>
          </a>
          <a href="{{ pages["terms-and-conditions"].url }}" class="footer-link w-inline-block">
            <div>{{ 'tn7fe2d65b' | t }}</div>
          </a>
        </div>
        <div class="col">
          <h3 class="footer-heading">{{ 't3c2336d' | t }}</h3>
          <a href="{{ pages["about"].url }}" class="footer-link w-inline-block">
            <div>{{ 't645f0031' | t }}</div>
          </a>
          <a href="{{ pages["materials"].url }}" class="footer-link w-inline-block">
            <div>{{ 'tn5ff49ff4' | t }}</div>
          </a>
        </div>
      </div>
      <div class="col _w-30">
        <h3 class="footer-heading">{{ 'tn64104400' | t }}</h3>
        <div class="text-wrapper flex-col items-left">
          <div class="footer-link footer-text">{{ 't30acf044' | t }}</div>
          <a href="#" class="link-block w-inline-block">
            <div class="text-block-2">{{ 't3b65c638' | t }}</div>
          </a>
        </div>
        <div class="text-wrapper flex-col items-left">
          <div class="footer-link footer-text">{{ 't2f1bd1e2' | t }}</div>
          <a href="tel:+916746118727" class="link-block phone-number w-inline-block">
            <div>{{ 'tn1e512ba4' | t }}</div>
          </a>
        </div>
      </div>
      <div class="col items-center _w-30 flex-start">
        <a href="{{ routes.root_url }}" class="link-block-7 w-inline-block">
          <div class="footer-logo" data-w-id="b1f044c8-101e-6fb4-7d48-81566922f239" data-animation-type="lottie" data-src="{{ 'chetnalighterbg-01.json' | asset_url }}" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="1.9686352217844805" data-duration="4"></div>
        </a>
      </div>
    </div>
    <div data-w-id="88cd0def-00e0-bb06-e161-fa21791436b3" class="footer">
      <div class="col items-center">
        <div class="copyright-text">{{ 't7f2f918e' | t }}</div>
      </div>
      <div class="col flex items-center">
        <div class="social-icon">
          <a href="#" class="w-inline-block"><img src="{{ 'group-329.svg' | asset_url }}" loading="lazy" alt=""></a>
        </div>
        <div class="social-icon">
          <a href="#" class="w-inline-block"><img src="{{ 'group-202x_1group-202x.png' | asset_url }}" loading="lazy" alt=""></a>
        </div>
        <div class="social-icon">
          <a href="https://www.facebook.com/HornButtonManufacturer/" target="_blank" class="w-inline-block"><img src="{{ 'group-212x_1group-212x.png' | asset_url }}" loading="lazy" alt=""></a>
        </div>
        <div class="social-icon">
          <a href="https://www.instagram.com/chetnainternational/?hl=en" class="w-inline-block"><img src="{{ 'group-222x_1group-222x.png' | asset_url }}" loading="lazy" alt=""></a>
        </div>
      </div>
      <div class="col flex items-center">
        <a href="{{ pages["privacy-policy"].url }}" class="copyright-link w-inline-block">
          <div class="copyright-text">{{ 'tn3fbde6f6' | t }}</div>
        </a>
        <a href="{{ pages["terms-and-conditions"].url }}" class="copyright-link w-inline-block">
          <div class="copyright-text">{{ 'tn910fa3b' | t }}</div>
        </a>
      </div>
    </div>
  </div>
  <div class="div-block-42">
    <div data-node-type="commerce-cart-wrapper" data-open-product="" data-wf-cart-type="modal" data-wf-cart-query="" data-wf-page-link-href-prefix="" class="w-commerce-commercecartwrapper">
      <a href="#" data-node-type="commerce-cart-open-link" aria-haspopup="dialog" aria-label="Open cart" role="button" class="w-commerce-commercecartopenlink btn btn-bg-coco cart-btn w-inline-block"><svg class="w-commerce-commercecartopenlinkicon" width="17px" height="17px" viewBox="0 0 17 17">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <path d="M2.60592789,2 L0,2 L0,0 L4.39407211,0 L4.84288393,4 L16,4 L16,9.93844589 L3.76940945,12.3694378 L2.60592789,2 Z M15.5,17 C14.6715729,17 14,16.3284271 14,15.5 C14,14.6715729 14.6715729,14 15.5,14 C16.3284271,14 17,14.6715729 17,15.5 C17,16.3284271 16.3284271,17 15.5,17 Z M5.5,17 C4.67157288,17 4,16.3284271 4,15.5 C4,14.6715729 4.67157288,14 5.5,14 C6.32842712,14 7,14.6715729 7,15.5 C7,16.3284271 6.32842712,17 5.5,17 Z" fill="currentColor" fill-rule="nonzero"></path>
          </g>
        </svg>
        <div class="text-block-39 w-inline-block">{{ 't1fef40' | t }}</div>
        <div class="w-commerce-commercecartopenlinkcount cart-quantity">{{ 't30' | t }}</div>
      </a>
      <div data-node-type="commerce-cart-container-wrapper" style="display:none" class="w-commerce-commercecartcontainerwrapper w-commerce-commercecartcontainerwrapper--cartType-modal cart-wrapper">
        <div role="dialog" data-node-type="commerce-cart-container" class="w-commerce-commercecartcontainer cart-container">
          <div class="w-commerce-commercecartheader cart-header">
            <h4 class="w-commerce-commercecartheading heading-9">{{ 't1fef40' | t }}</h4>
            <a href="#" data-node-type="commerce-cart-close-link" role="button" aria-label="Close cart" class="w-commerce-commercecartcloselink close-button w-inline-block"><img src="{{ 'path-327.svg' | asset_url }}" loading="lazy" alt=""></a>
          </div>
          <div class="w-commerce-commercecartformwrapper">
            <form data-node-type="commerce-cart-form" style="display:none" class="w-commerce-commercecartform">
              <div class="w-commerce-commercecartfooter cart-footer">
                <div aria-atomic="true" aria-live="polite" class="w-commerce-commercecartlineitem cart-line-item">
                  <div class="div-block-6">
                    <div class="text-block-13">{{ 'tn77079b6c' | t }}</div>
                  </div>
                  <div class="div-block-5">
                    <div class="col cart">
                      <div class="div-block-7">
                        <div class="text-block-14">{{ 'tn76f396dc' | t }}</div>
                        <div class="w-commerce-commercecartordervalue text-block-15"></div>
                      </div>
                      <div class="div-block-8">
                        <div class="text-block-16">{{ 't4d3eb24' | t }}</div>
                        <div class="w-commerce-commercecartordervalue text-block-17"></div>
                      </div>
                    </div>
                    <div class="col cart">
                      <div>
                        <a href="/checkout" value="Place Order" data-node-type="cart-checkout-button" class="w-commerce-commercecartcheckoutbutton btn btn-bg-coco cart" data-loading-text="Hang Tight...">{{ 'ta750ab5' | t }}</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="div-block-9">
                <div class="div-block-6">
                  <div class="text-block-13">{{ 'tn685f8ab2' | t }}</div>
                </div>
                <script type="text/x-wf-template" id="wf-template-173e3950-90a8-42c7-3e31-63c3bc62688a"><div data-node-type="cart-item" class="cart-item w-commerce-commercecartitem" template-part-bind="173e3950-90a8-42c7-3e31-63c3bc62688b"><img data-node-type="cart-item-image" class="image-19 w-commerce-commercecartitemimage" template-part-bind="173e3950-90a8-42c7-3e31-63c3bc62688c" src="<%= it.image %>"><a data-node-type="link" class="link-block-10" template-part-bind="173e3950-90a8-42c7-3e31-63c3bc62688d" href="<%= it.url%>"><div data-node-type="cart-item-info" class="div-block-13 w-commerce-commercecartiteminfo" template-part-bind="173e3950-90a8-42c7-3e31-63c3bc62688e"><div data-node-type="cart-product-name" class="text-block-20 w-commerce-commercecartproductname" template-part-bind="173e3950-90a8-42c7-3e31-63c3bc62688f"><%= it.title %></div><ul class="option-list-3 w-commerce-commercecartoptionlist" template-part-bind="173e3950-90a8-42c7-3e31-63c3bc626890"><% Object.entries(it.properties).forEach( data =>  { %><li data-node-type="cart-option-list-item"><span data-node-type="cart-option-list-item-label" template-part-bind="173e3950-90a8-42c7-3e31-63c3bc626892"><%= data[0] %></span><span>: </span><span data-node-type="cart-option-list-item-value" template-part-bind="173e3950-90a8-42c7-3e31-63c3bc626895"><%= data[1] %></span></li><% }) %></ul></div></a><input class="w-commerce-commercecartquantity quantity cart" name="<%= it.id %>" type="number" min="0" min="1" value="<%= it.quantity %>" data-node-type="cart-quantity"><div class="div-block-12"><div class="text-block-19" template-part-bind="173e3950-90a8-42c7-3e31-63c3bc626898"><%= it.price %></div><a data-node-type="cart-remove-link" class="remove-button" href="#" role="button" aria-label="Remove item from cart" template-part-bind="173e3950-90a8-42c7-3e31-63c3bc626899" data-product-id="<%= it.id %>"><div class="text-block-21">Remove</div></a></div><div class="div-block-14"><div class="div-block-11"><ul data-node-type="list" class="list-2"><li data-node-type="list-item"><div class="text-block-18">Delivery in 2 days , Sun | Free</div></li></ul></div></div></div></script>
                <div class="w-commerce-commercecartlist cart-list" data-wf-collection="database.commerceOrder.userItems" data-wf-template-id="wf-template-173e3950-90a8-42c7-3e31-63c3bc62688a"></div>
              </div>
            </form>
            <div class="w-commerce-commercecartemptystate">
              <div aria-live="polite" aria-label="This cart is empty">{{ 't3d503d2b' | t }}</div>
            </div>
            <div aria-live="assertive" style="display:none" data-node-type="commerce-cart-error" class="w-commerce-commercecarterrorstate">
              <div class="w-cart-error-msg" data-w-cart-quantity-error="Product is not available in this quantity." data-w-cart-general-error="Something went wrong when adding this item to the cart." data-w-cart-checkout-error="Checkout is disabled on this site." data-w-cart-cart_order_min-error="The order minimum was not met. Add more items to your cart to continue." data-w-cart-subscription_error-error="Before you purchase, please use your email invite to verify your address so we can send order updates.">{{ 'tn1c765d0d' | t }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=63b460d12385d15a227dd601" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <script>
  window.onload = function(){
    document.getElementsByTagName("body")[0].style.overflow = "auto";
  if(window.innerWidth < 780){
   document.getElementById("Resource-Link").removeAttribute("href");
    console.log("Hi");
  document.getElementById("menu-icon").addEventListener("click", function(){
    console.log("Hi")
    document.getElementsByTagName("body")[0].classList.toggle("overflowHide");
})}
  }
 //window.onload = function(){document.getElementsByTagName("body")[0].style.overflow = "auto";}; 
</script>

{{ 'udesly-shopify.min.js' | asset_url | script_tag }}